.App {
  text-align: center;
}

.App-header {
  background-color: #abccb3;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #5f1148;
}

.App-footer {
  background-color: #84d4ce;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vim);
  color: #200404;
}
